# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Entornos virtuales
.env
.venv
env/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints

# Imágenes generadas
*.png
*.jpg
*.jpeg
*.pdf

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini
